body {
    font-family: monospace;
  
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  }
  .fa-solid {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    transition: all 200ms ease-in-out;
    box-shadow: 5px 4px 2px 1px rgba(48, 51, 71, 0.1);
  }
  .fa-solid:hover {
    color: grey;
    font-size: 22px;
  }
  form {
    background-color: #e9eaed;
  
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    box-shadow: 12px 12px 2px 1px rgba(48, 51, 71, 0.098);
  }
  
  input {
    all: unset;
    font: 16px system-ui;
    color: grey;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
    transition: all 200ms ease-in-out;
  }
  button:hover {
    color: grey;
  }
  .card {
    color: #3d4c54;
    border-radius: 35px;
    box-shadow: 5px 4px 2px 1px rgba(48, 51, 71, 0.1);
  }
  
  .row {
    padding: 20px 10px;
  }
  .forecast {
    width: 70px;
    margin: auto;
    padding-bottom: 20px;
    display: block;
  }
  
  .card-title {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding-top: 15px;
  }
  
  .card-body {
    text-align: center;
  }
  .high-temperature {
    font-weight: 400;
    font-size: 15px;
  }
  
  .low-temperature {
    font-weight: 300;
    font-size: 15px;
  }
  .card-title-1 {
    padding-right: 4px;
    text-transform: capitalize;
  }
  .card-body-1 {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
  }
  .border {
    width: 700px;
    text-align: center;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    box-shadow: 5px 4px 2px 1px rgba(48, 51, 71, 0.1);
  }
  .temperature {
    font-weight: bold;
    font-size: 30px;
  }
  a {
    text-decoration: none;
  }
  #current-button {
    padding: 24px;
    color: #778aaa;
  }
  